@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  background-color: #e6f0ec;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
