.navbar {
  width: 250px;
  background-color: #121c16;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 16px 16px 0;
  color: #d5ffd5;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 55px;
}

.equipo-text {
  font-size: 16px;
  color: #aaffaa;
}

.bold {
  font-weight: bold;
  color: #fff;
}

.divider {
  border: none;
  height: 1px;
  background-color: #2a4a3a;
  margin: 16px 0;
}

.nav-links,
.extras {
  list-style: none;
}

.nav-links li,
.extras li {
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover,
.extras li:hover {
  background-color: #1e2f25;
  color: #b6f7b6;
}

@media (max-width: 768px) {

  .navbar {
    width: 100%;
    border-radius: 0 0 16px 16px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar-top {
    width: 100%;
    text-align: center;
  }

  .logo-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-links,
  .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }

  .nav-links li,
  .extras li {
    width: 100%;
    text-align: center;
  }

  .divider {
    width: 80%;
    margin: 16px auto;
  }

  .main-content {
    padding: 20px;
  }

  .ofertas {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }

  .iconos img {
    width: 50px;
  }

  .estadisticas-inferior {
    flex-direction: column;
    gap: 20px;
  }

  .datos,
  .buscar-partido {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

