.navbar {
  width: 250px;
  background-color: #121c16;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 16px 16px 0;
  color: #d5ffd5;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 55px;
}

.equipo-text {
  font-size: 16px;
  color: #aaffaa;
}

.bold {
  font-weight: bold;
  color: #fff;
}

.divider {
  border: none;
  height: 1px;
  background-color: #2a4a3a;
  margin: 16px 0;
}

.nav-links,
.extras {
  list-style: none;
}

.nav-links li,
.extras li {
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover,
.extras li:hover {
  background-color: #1e2f25;
  color: #b6f7b6;
}
